<form class="details">
    <div class="details__nav">
        <button mat-stroked-button type="button" class="details__state"><mat-icon>done</mat-icon>выполнено</button>
        <div class="details__settings">
            <button mat-icon-button type="button" routerLink="/tasks">
                <mat-icon>keyboard_tab</mat-icon>
            </button>
        </div>
    </div>
    <mat-form-field appearance="outline" class="details__title">
        <input matInput [value]="task?.title">
    </mat-form-field>
    <table class="details__extra_info">
        <tbody>
        <tr>
            <td class="details_title">Исполнитель</td>
            <td *ngIf="task?.executor">{{task?.executor}}</td>
            <td *ngIf="!task?.executor">Добавить исполнителей</td>
        </tr>
        <tr>
            <td class="details_title">Срок выполнения</td>
            <td *ngIf="task?.deadline">{{task?.deadline}}</td>
            <td *ngIf="!task?.deadline">Добавить срок</td>
        </tr>
        <tr>
            <td class="details_title">Приоритет</td>
            <td *ngIf="task?.priority">{{task?.priority}}</td>
            <td *ngIf="!task?.priority">Добавить приоритет</td>
        </tr>
        <tr>
            <td class="details_title">Участники</td>
            <td>Добавить участников</td>
        </tr>
        </tbody>
    </table>
    <div class="details__description_parent">
        <h4>Описание</h4>
        <mat-form-field class="details__description">
            <mat-label>Опсиание задачи</mat-label>
            <textarea matInput [value]="task?.description"></textarea>
        </mat-form-field>
    </div>
</form>
