<form class="details">
    <div class="details__nav">
        <button mat-stroked-button type="button" class="details__state"><mat-icon>done</mat-icon>выполнено</button>
        <div class="details__settings">
            <button mat-icon-button type="button" routerLink="/tasks">
                <mat-icon>keyboard_tab</mat-icon>
            </button>
        </div>
    </div>
    <mat-form-field appearance="outline" class="details__title">
        <input matInput value="to do something">
    </mat-form-field>
    <table class="details__extra_info">
        <tbody>
        <tr>
            <td>Исполнитель</td>
            <td>User</td>
        </tr>
        <tr>
            <td>Срок выполнения</td>
            <td>Нет срока выполнения</td>
        </tr>
        <tr>
            <td>Проекты</td>
            <td>Добавить в проекты</td>
        </tr>
        <tr>
            <td>Участники</td>
            <td>Добавить участников</td>
        </tr>
        </tbody>
    </table>
    <div class="details__description_parent">
        <h4>Описание</h4>
        <mat-form-field class="details__description">
            <mat-label>Опсиание задачи</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
</form>
