<link rel="stylesheet" href="../../../styles.sass">
<form>
  <mat-form-field appearance="outline" class="title input">
    <input matInput value="to do something">
  </mat-form-field>
  <table>
    <tbody>
    <tr>
      <td>Исполнитель</td>
      <td>Значение 2</td>
    </tr>
    <tr>
      <td>Срок выполнения</td>
      <td>Значение 4</td>
    </tr>
    <tr>
      <td>Проекты</td>
      <td>Значение 6</td>
    </tr>
    <tr>
      <td>Участники</td>
      <td>Значение 8</td>
    </tr>
    </tbody>
  </table>
  <div>
    <h4>Описание</h4>
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</form>
